<!DOCTYPE html>
<html lang='es'>
<head>
  <meta charset='utf-8'>
</head>
<body>
  <header> 
  	{% block encabezado %}{% endblock %}
  	<nav>
  		<dl>
			<dd><a href='/'>Inicio</h3></dd>
			<dd><a href='/cargar'>Cargar datos</a></dd>
			<dd><a href='/cargar_matriz'>Cargar matriz</a></dd>
			<dd><a href='/usuarioartistas'>Top artistas de usuario</a></dd>
			<dd><a href='/similarPeli'>Pelis similares</a></dd>
			<dd><a href='/pelisPuntuadas'>Pelis puntuadas</a></dd>


			<dd><a href='/cargar'>Cargar.  <strong>AVISO: Se borrar&aacute;n todos los datos</strong></a></dd>
		</dl>
	</nav>
  </header>
  <section>
    {% block contenido %}{% endblock %}
  </section>
  {% block pie %}{% endblock %} 
</body>
</html>